/*region Tablica zadań*/
tablica_zadań:before
{
    padding-left: 50px;
    content: "Tablica zadań";
    font-family: "Trebuchet MS", "Comic Sans MS";

}

tablica_zadań>*
{
    font-size: 1vw;
}
/*endregion*/

/*region Użytkownicy*/
użytkownicy:before
{
    text-align: center;
    letter-spacing: 0.2vw;
    font-family: "Trebuchet MS", "Comic Sans MS";
    border-bottom-color: black;
    display: block;
    font-size: 2vw;
    content: attr(nazwa);
    border-style: solid;
    border-width: 0 0 1px 0;
    padding-bottom: 5px;
}

użytkownicy
{
    display: grid;
    border-radius: 5px;
    background-color: aliceblue;
}
/*endregion*/

/*region Użytkownik*/
użytkownik:before
{
    content: url("Terka.png");
    float: right;
    display: flex;
    height: 50px;
    width: 50px;
}

użytkownik
{
    background-color: white;
    display: block;
    margin: 10px 20px 10px 20px;
    padding: 0.75em 1em;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    width: auto;
    font-family: "Trebuchet MS", "Comic Sans MS";
    font-size: 150%;
}

użytkownik>*
{
    display: block;
}

użytkownik>imię, nazwisko{
    display: inline-block;
    font-weight: bold;
    font-size: 150%;
}
/*endregion*/

/*region Użytkownik - elementy*/
nr_tel:before
{
    content: "Nr. telefonu: ";
}

email:before
{
    content: "Email: ";
}

dział:before
{
    content: "Dział: ";
}

data_rozpoczęcia:before
{
    content: "Rozpoczęto: ";
}

data_ukończenia:before
{
    content: "Zakończono: ";
}
/*endregion*/

/*region Zadania*/
zadania
{
    display: grid;
    background-color: #7cbee9;
}
/*endregion*/

/*region Tablica*/
tablica:before
{
    text-align: center;
    letter-spacing: 0.2vw;
    font-family: "Trebuchet MS", "Comic Sans MS";
    border-bottom-color: black;
    display: block;
    font-size: 2vw;
    content: attr(status);
    border-style: solid;
    border-width: 0 0 1px 0;
    padding-bottom: 5px;
}

tablica
{
    border-radius: 5px;
    background-color: aliceblue;
    margin: 20px 20px 20px 20px;
}

tablica[status="otwarte"]
{
    grid-column: 1;
    /*margin: 2em 6em 2em 6em;*/
}

tablica[status="realizowane"]
{
    grid-column: 2;
    /*margin: 2em 6em 2em 6em;*/
}

tablica[status="zamknięte"]
{
    grid-column: 3;
}
/*endregion*/

/*region Zadanie*/
zadanie
{
    background-color: white;
    display: block;
    margin: 10px 20px 10px 20px;
    padding: 0.75em 1em;
    width: auto;
    border-style: solid;
    border-width: 1px;
    border-left-width: 10px;
    border-color: grey;
    max-height: 4%;
}

zadanie>*
{
    display: block;
}
/*endregion*/

/*region Zadanie - elementy i kolor marginesu*/
tytuł
{
    font-weight: bold;
    font-size: larger;
}

opis:before
{
    content: "Opis: ";
}

wykonawca:before
{
    content: "Wykonawca: ";
}

tablica[status="zamknięte"] > zadanie
{
    border-left-color: #9dff3a;
}

tablica[status="otwarte"] > zadanie
{
    border-left-color: #ff8761;
}

tablica[status="realizowane"] > zadanie
{
    border-left-color: #ffe662;
}
/*endregion*/

/*region Zadanie - animacja*/
zadanie>*
{
    opacity: 0;
}

zadanie>tytuł
{
    opacity: 1;
}

zadanie:hover
{
    transition: all 0.5s;
    background-color: whitesmoke;
    max-height: 100%;
}


zadanie:hover>*
{
    opacity: 1;
    transition: all 0.5s;
}

zadanie:hover:after
{
    content: "Wykonawaca: "attr(wykonawca);
}
/*endregion*/

/*region Stopka*/
stopka>*
{
    display: block;
}

autorzy>*
{
    display: block;
}

ostatnia_modyfikacja:before
{
    content: 'Ostatnia modyfikacja: ';
}
/*endregion*/
